@import "compass";

@import "compass/css3/box-sizing";
@import "compass/css3/opacity";

@import "vars";
@import "generic/tools";
@import "generic/mixins";

.cf, %cf{
    @include pie-clearfix;
}


html, .main{
    background-color: #f9f9f9;
}


.page-content{
    padding-top: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.post__body{
    padding-left: 20px;
    padding-right: 20px;
}

.button-group .button + .dropdown-toggle {
    margin-left: -1px;
    padding: 14px 8px 13px;
}

.js-stick{
    
    %position--sticky{
        position: fixed;
        z-index: 2;
        @include transition(position, ease, 0.15s);
    }
   
    .toolbar{
        @extend %position--sticky;
        
        top: 0;
        background: $base-background-color;
        width: 100%    
    }
    
    .site-nav{
        @extend %position--sticky;  
    }
    
    .post-article{
        margin-top: 81px;
    }
  
}


.title-nav{
    position: relative;

    width: 100%;
    background-color: #fff;
    
    @extend %cf;
}

    .site-logo{
        height: 88px;
        width: 240px;
        background-color: #fff;
        
        a{
            background: url("/images/cru-logo.svg") no-repeat scroll 50% 50% transparent;
            background-size: 94px auto;
            height: 88px;
            width: 140px;
            float: left;

        }
    }
    
    .site-search{
        background-color: #fff;
        height: 89px;
        border-bottom: 1px solid #eee;
        
        form{
            text-align: right;
        }
    }
    
    
.sliding-nav{
    position: absolute;
    overflow: hidden;
    width: 240px;
    float: left;

    @include mq(980px, max) {
        z-index: auto;
    }
}    
    
    .site-nav{
        
        left: 0;
        overflow-y: auto;
        overflow-x: hidden;

        display: block;
        position: relative;
        bottom: 0;
        right: auto;
        width: 240px;
        top: 0;
        
        background-color: #f9f9f9;
                
        @include mq(980px, max) {
            top: 0;
            opacity: .001;
            z-index: 0;
        }
        
        & > li{
          font-size: 18px;

          &:first-child a{
              border-top: 1px solid #eee;
              background-color: $color-gold;
              color: #fff;

              &:hover{
                  background-color: darken($color-gold, 10%);
                  color: #fff;
                  text-decoration: none;
              }
          }

          & > a{
              color: #484848;
              padding: 12px 15px 12px;
              background-color: #fff;
              border-bottom: 1px solid #eee;

              &:hover{
                  background-color: $color-gray;
                  color: #fff;
                  text-decoration: none;
              }
          }
       }
    }
    
    
.wrap{
    position: relative;
    padding: 0;
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    height: inherit;
    margin-left: 240px;
    margin-right: 0;
    
    @include mq(980px, max) {
        margin-left: 0;
        border-left: 0 none;

        @include backface-visibility(hidden);
        @include transform(translateZ(0));
    }

}

.toolbar{
    border-bottom: 1px solid #eee;
    padding: 8px ($base-line-height / 2);
    margin-bottom: $base-line-height;   
    
    @include transition(background-color, ease, 1.5s); 

    .button-group{
        &:not(:last-child):after{
            content: ">";
            margin-left: 8px;
            font-size: 12px;
            color: #aaa;
            padding-top: 8px;
            display: inline-block;
        }
    }
}

    