<div class="off-canvas-wrap">
    <div class="inner-wrap">            
        <!-- TITLE BAR -->
        <header class="site-header  header  header-fixed-top">
            <div class="navbar" role="navigation">
                <div class="title-bar">
                    <!-- TITLE GROUP -->
                    <hgroup class="title-group  site-logo  js-nav-toggle">
                        <a href="{{ site.root }}flyout/index.html" title="Return to Homepage">
                            <h1>
                                <span class="accessibility">
                                    Cru is a caring community passionate about connecting people to Jesus Christ
                                </span>
                            </h1>
                        </a>
                    </hgroup>
                     <!-- END TITLE GROUP -->
             
                    <!-- SITE SEARCH -->                        
                    <div class="site-search">
                        
                        
                        
                        <form class="m0 site-search-form">
                            <fieldset class="m0">
                                <ul class="nav  bare-list">
                                   <li>
                                        <input id="site-search" type="search" class="site-search__input  form-control" placeholder="Search"></input>
                                    </li>
                            <li>
                                        <select type="select" class="form-control site-search__select">
                                            <option value="Entire Site">www.cru.org</option>
                                            <option value="Give">Give to Staff and Ministries</option>
                                        </select>
                                    </li>
                                    
                                    <li>
                                         <input type="submit" value=" "  class="site-search__button   button--small"></input>
                                    </li>
                                </ul>
                            </fieldset>
                        </form>
                    </div>
                    <!-- END SITE SEARCH -->
                </div>


                
                {% include flyout-navigation.html %}