<!-- SITE NAV -->


<nav class="site-nav-wrap">
    
     <ul class="nav  global-nav  u-pullRight">

                <li class="userAction__link  userAction--signup">
                    <a href="#modal-one">Sign up</a>
                </li>
                <li class="userAction__link  userAction--signup">
                    <a href="#">Log In</a>
                </li>
                <li class="userAction__link  userAction--cart">
                    <a href="#">Cart</a>
                </li>
                <li class=" global__button userAction--global">
                    <a href="#">Global</a>
                </li>
                </ul>
    
    <div class="wrap">
  
</div>
    
    
    <ul role="navigation"   class="site-nav  nav  m0">
    
        <li class="level0  has-dropdown  know-god">
            
            <a href="#" class="level0__menu-link  menu-link">How to Know God</a> 
            
            <div class="menu-dropdown  dropdown-toggle" style="display: none">
                <ul class="menu-dropdown__content  nav-link  block-list">
                    <li>
                        <a href="#" class="nav-cat  nav-item" id="nav-cat-0">How to Know God Personally</a>                    
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">My Story: A Life Changed</a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">Jesus and the Intellectual</a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">Jesus: God or Just a Good Man?</a>
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">Why the Resurrection Matters to You</a>
                    </li>
                </ul>
            </div>
            
        </li>
    
        <li class="level0  has-dropdown  train-grow">
                                   
            <a href="#" class="level0__menu-link   menu-link">Train & Grow</a>
            
            <div class="menu-dropdown"  style="display: none">
                <ul class="menu-dropdown__content  nav-link  block-list">
                    <li class="has-submenu  dropdown-toggle">
                        <a href="#" class="nav-cat  nav-item" id="nav-cat-0">Classics</a>    
                        
                        <div class="menu-submenu  submenu-1  dropdown-toggle-1" style="width:300px;" style="display: none">
                            <ul class="menu-submenu__content  block-list  m0  position--absolute">
                                <li>
                                    <a href="#" class="nav-item">How to Know God Personally</a>                                
                                </li> 
                                <li>
                                    <a href="#" class="nav-item"> Have You Made the Wonderful Discovery of the Spirit-Filled Life?</a>                                
                                </li>
                                <li>
                                    <a href="#" class="nav-item">Transferable Concepts</a>                                
                                </li>
                                <li>
                                    <a href="#" class="nav-item">10 Basic Steps to Christian Maturity </a>                                
                                </li>                        
                            </ul>
                        </div>                   
                    </li>
                    
                    <li>
                        <a href="#" class="nav-cat  nav-item">Bible Studies</a>
                    </li>
                    
                    <li>
                        <a href="#" class="nav-cat  nav-item">Training</a>
                    </li>
                    
                    <li>
                        <a href="#" class="nav-cat  nav-item">Evangelism</a>
                    </li>
                    
                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item">Prayer, Quiet Times, Devotionals</a>
                        
                        <div class="menu-submenu  submenu-1">
                            <ul class="menu-submenu__content  block-list  m0  position--absolute">      
                                <li>
                                    <a href="#" class="nav-item">Discover God's Character E-Devotionals</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-item">Personal Guide to Fasting</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-item">7 Steps to Fasting</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-item">Advent</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-item">Lent</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-item">Today's Promise</a>
                                </li>                     
                            </ul>
                        </div>
                    </li>
                    
                </ul>
            </div>
                       
        </li>
     
        <li class="level0  has-dropdown communities">
                                   
            <a href="#" class="level0__menu-link   menu-link">Communities</a>
            
            <div class="menu-dropdown  dropdown-toggle" style="display: none">
                <ul class="menu-dropdown__content  nav-link  block-list">
                    <li>
                        <a href="#" class="nav-cat  nav-item" id="nav-cat-0">Campus</a>                     
                    </li>
                
                    <li>
                        <a href="#" class="nav-cat  nav-item">City</a>
                    </li>
                
                    <li>
                        <a href="#" class="nav-cat  nav-item">Inner City</a>
                    </li>
                
                    <li>
                        <a href="#" class="nav-cat  nav-item">Athletes</a>
                    </li>
                    
                    <li>
                        <a href="#" class="nav-cat  nav-item">Families</a>
                    </li>
                    
                    <li>
                        <a href="#" class="nav-cat  nav-item">High School</a>
                    </li>
                    
                    <li>
                        <a href="#" class="nav-cat  nav-item">Military</a>
                    </li>
                    
                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item" id="nav-cat-0">Locate Cru Near You</a>    
                    
                        <div class="menu-submenu  submenu-1" style="display: none">
                            <ul class="menu-submenu__content  block-list">
                                <li>
                                    <a href="#" class="nav-item">Africa</a>                                
                                </li> 
                                <li>
                                    <a href="#" class="nav-item">Americas</a>                                
                                </li>
                                <li>
                                    <a href="#" class="nav-item">Asia</a>                                
                                </li>
                                <li>
                                    <a href="#" class="nav-item">Australia-Oceania</a>                                
                                </li>  
                                <li>
                                    <a href="#" class="nav-item">Europe</a>                                
                                </li>                    
                            </ul>
                        </div>                   
                    </li>
                
                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item">More</a>
                    
                        <div class="menu-submenu  submenu-1" style="display: none">
                            <ul class="menu-submenu__content block-list" style="width: 500px">      
                                <div class="grid">
                                    <div class="grid__item  desk--one-half">
                                        <li>
                                            <a href="#" class="nav-item">Athletes in Action</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-item">City</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-item">Christian Embassy, D.C.</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-item">Christian Embassy – United Nations</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-item">Faculty & Graduates</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-item">FamilyLife</a>
                                        </li>  
                                        <li>
                                            <a href="#" class="nav-item">Global Aid Network</a>
                                        </li>
                                    </div>
                                
                                    <div class="grid__item  desk--one-half">
                                        <li>
                                            <a href="#" class="nav-item">Inner City</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-item">Military</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-item">The Impact Movement</a>
                                        </li> 
                                        <li>
                                            <a href="#" class="nav-item">The JESUS Film Project®</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-item">Josh McDowell Ministry</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-item">Keynote</a>
                                        </li>
                                        <li>
                                            <a href="#" class="nav-item">All</a>
                                        </li>
                                    </div>
                                </div>              
                            </ul>
                        </div>
                    </li>
                
                </ul>  
            </div>
            
        </li>
        
        <li class="level0  has-dropdown  opportunities">
                                   
            <a href="{{ site.root }}flyout/opportunities/index.html" class="level0__menu-link  menu-link active">Opportunities</a>
        
            <div class="menu-dropdown  dropdown-toggle" style="display: none">
                <ul class="menu-dropdown__content  nav-link  block-list">
                    <li class="has-submenu">
                        <a href="{{ site.root }}flyout/opportunities/mission-trips/index.html" class="nav-cat  nav-item" id="nav-cat-0">Mission Trips</a>  
                        
                        <div class="menu-submenu  submenu-1" style="display: none">
                            <ul class="menu-submenu__content  block-list">
                                <li>
                                    <a href="{{ site.root }}flyout/opportunities/mission-trips/summer-missions/index.html" class="nav-cat--sub  nav-item">Summer Missions</a>
                                </li> 
                            </ul>
                        </div>                   
                    </li>
                    
                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item" id="nav-cat-0">Internships</a>  
                        
                        <div class="menu-submenu  submenu-1" style="display: none">
                            <ul class="menu-submenu__content  block-list">
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">Orlando Summer Project</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">Preview Weekend</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">1-Year Internship in Orlando</a>
                                </li>
                            </ul>
                        </div>                   
                    </li>
                    
                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item" id="nav-cat-0">Volunteer</a>    
                        
                        <div class="menu-submenu  submenu-1" style="display: none">
                            <ul class="menu-submenu__content  block-list">
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">Orlando Openings</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">Volunteer Profiles</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">Volunteer Sign Up</a>
                                </li>
                            </ul>
                        </div>                 
                    </li>
                    
                    <li class="has-submenu">
                        <a href="#" class="nav-cat  nav-item" id="nav-cat-0">Careers</a>   
                        
                        <div class="menu-submenu  submenu-1" style="display: none">
                            <ul class="menu-submenu__content  block-list">
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">Hourly & Salaried Positions at Our World Headquarters</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">World Headquarters Opportunities</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">Missionary Staff Careers</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">International Missions Opportunities</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-cat--sub  nav-item">Staff Profiles</a>
                                </li>
                            </ul>
                        </div>                  
                    </li>
                    
                    <!-- <img src="http://g-ecx.images-amazon.com/images/G/01/digital/music/merch/weeklybuild/101414/U2_101414_Whitebelt_Flyout._V323882074_.png" usemap="#nav_imgmap_digital-music" class="nav-browse-promo" style="bottom: -38px; right: -21px; width: 520px; height: 492px;">
                    <map name="nav_imgmap_digital-music" id="nav_imgmap_digital-music">
                         <area shape="poly" coords="238,2,226,233,154,258,115,281,2,281,1,453,497,455,497,1" href="/dp/B00NX53H2W/ref=nav_sa_dm_u2_dp_wb" alt="U2">
                     </map>-->
                </ul>
            </div>

        </li>
        
        <li class="level0  has-dropdown  about">
           <a href="#" class="level0__menu-link  menu-link">
               About
                
           </a>
           <div class="menu-dropdown  dropdown-toggle" style="display: none">
               <ul class="menu-dropdown__content  nav-link  block-list">                     
                   <li>
                       <a href="#" class="nav-cat  nav-item"  id="nav-cat-0">Donor Relations</a>           
                   </li>
                   <li>
                       <a href="#" class="nav-cat  nav-item">What We Do</a>
                   </li>
                   <li>
                       <a href="#" class="nav-cat  nav-item">Our Leadership</a>
                   </li>
                   <li>
                       <a href="#" class="nav-cat  nav-item">Contact Us</a>
                   </li>
                   <li>
                       <a href="#" class="nav-cat  nav-item">Press</a>
                   </li>
                   <li>
                       <a href="#" class="nav-cat  nav-item">WorldWide Challenge</a>
                   </li>
               </ul>
           </div>
        </li>
        
        <li class="level0  has-dropdown  store">
            <a href="#" class="level0__menu-link  menu-link">
                Store
                
            </a>                            
            <div class="menu-dropdown  dropdown-toggle  dropdown-toggle-6" style="display: none">
               <ul class="menu-dropdown__content  nav-link  block-list">                     
                    <li>
                        <a href="#" class="nav-cat  nav-item"  id="nav-cat-0">All Stores</a>           
                    </li>
                    <li>
                        <a href="#" class="nav-cat  nav-item">Featured Products</a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="level0  give">
            <a href="#" class="level0__menu-link  menu-link">
                Give
                
            </a>                            
        </li>
    
    </ul>
    <a class="toggle-nav">Toggle Nav</a>
</nav>

<!-- END SITE NAV -->

