    <!-- Footer Component -->
    <footer class="global-footer">
    <hr class="section-divider">

    <!-- Social wrapper -->
    <div xk-section="v1" class="parbase socialLinks base social-links">
    <div class="mb  masonry__item">
    	<!-- Social -->
    	<div class="social  center-block">
        	<ul class="nav">

                	<li>
                    	<a class="social__item  social__item--twitter  icon-twitter" href="https://twitter.com/crutweets" rel="external"></a>
                	</li>


                	<li>
                    	<a class="social__item  social__item--facebook  icon-facebook" href="https://www.facebook.com/CruGlobal" rel="external"></a>
                	</li>


                	<li>
                    	<a class="social__item  social__item--gplus  icon-gplus" href="https://plus.google.com/116335191579496628831/posts" rel="external"></a>
                	</li>

        	</ul>
    	</div>
    	<!-- End social-->
    </div>
    <!-- End social wrapper -->
    </div>

    <!-- End social wrapper -->

    <nav role="supplementary">
        <ul class="nav  flush--bottom">

                <li>
                  <a href="/about/contact-us.html">Contact Us</a>
                </li>

                <li>
                  <a href="/metadata/rss-feeds.html">RSS Feed</a>
                </li>

                <li>
                  <a href="/about/press.html">Press</a>
                </li>

                <li>
                  <a href="/opportunities/careers.html">Careers</a>
                </li>

                <li>
                  <a href="/about/terms-of-use.html">Terms of Use</a>
                </li>

                <li>
                  <a href="/about/privacy.html">Your Privacy</a>
                </li>

        </ul>
    </nav>


        <div class="copy">
          <small>©1994-2014 Cru. All Rights Reserved.</small>
        </div>

    </footer>
    <!-- End footer component -->
</section>
            
            
            <aside class="off-canvas  off-canvas--left">
                <ul role="navigation" class="block-list  m0">
                    <li class="has-dropdown">
                        <a href="#" class="site-nav__link">Train and Grow</a>
                        <ul class="dropdown  drop-right">
                            <li>
                                <a href="#">Link 1</a>
                            </li>
                            <li>
                                <a href="#">Link 2</a>
                            </li>
                            <li>
                                <a href="#">Link 3</a>
                            </li>
                            <li>
                                <a href="#">Link 4</a>
                            </li>
                            <li>
                                <a href="#">Link 5</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="site-nav__link">How to Know God</a>
                    </li>
                    <li>
                        <a href="#" class="site-nav__link">Communities</a>
                    </li>
                    <li>
                        <a href="#" class="site-nav__link">Opportunities</a>
                    </li>
                    <li>
                        <a href="#" class="site-nav__link">About</a>
                    </li>
                    <li>
                        <a href="#" class="site-nav__link">Give</a>
                    </li>
                </ul>
            </aside> 
        </div>
    </div>