/*------------------------------------*\
    $HEADER
\*------------------------------------*/

$link-height: 36px;

.site-header{
    overflow: hidden;
    height: $header-height;
    background-color: $color-white;

    border-top: 3px solid $color-gold;
}

    .site-logo{  
        width: 10%;
        height: 54px;
    
        display: inline-block;
    
        margin: 6px 15px;

        a{
            display: block;    
            width: 74px;
            height: 54px;
            background: url("/images/cru-logo.svg") no-repeat center center;
            background-size: contain;
        }

        h1{
            margin-bottom: 0;
        }
    }

    /**
     * No solution for browsers that do not support svg format
     */
    .no-svg .site-logo a{
        background: url("/images/cru-logo.png");
    }

.page-content-wrap{
    
}

